.absolute-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-grey {
  background-color: #e7e7e7;
}

html {
  /* height of sticky header */
  scroll-padding-top: 67.6px;
  /* the page will scroll smoothly when nav-link is clicked */
  scroll-behavior: smooth;
}

.form-control {
  width: auto;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}
